body{
    margin: 0px;
    padding: 0px;
    background-color: #080808;
    color: white;
    text-align: center;
}

#featured-image-text
{
    font-size: 20px;
}

#figure-container
{
    border: 5px red;
    border-style:double;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.active
{
    filter: grayscale(0%) !important;
    transition-duration: 0.7s;
}

.thumbnail
{
    filter: grayscale(100%);
    transition-duration: 0.7s;
}

.thumbnail:hover
{
    filter: grayscale(50%);
    transition-duration: 0.7s;
}

#thumbnailContainer
{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

#thumbnailContainer > li
{
    list-style-type: none;
}

